body, main{
    padding: 0;
    margin: 0;
}

main{
    background-color: aqua;
    height: 100vh;
    position: relative;
}

.cuadrado{
    border: 1px solid black;
    position: absolute;
    
}

.circulo{
    border: 1px solid black;
    border-radius: 100%;
    position: absolute;

}